<body>
    <hr>
    <main>
        <h1>Home</h1>
        <pre>The latest and best articles selected 
by our editorial office.</pre>
        <article>
            <card class="box1" theme="Culture" [price]=0.99 title="Wake Up and Smell the Coffee" imageUrl="https://img.freepik.com/fotos-gratis/vapores-de-cafe-fresco-na-mesa-de-madeira-fecham-a-ia-generativa_188544-8923.jpg?w=1060&t=st=1692885797~exp=1692886397~hmac=12bcbfb0ea11d06afd2ccf3a7267047d8a5fe20475ed9fcd38ce97d31389d1f7" ></card>
            <card class="box2" theme="Technology" [price]=1.99 title="The Brand New NASA Office" imageUrl="https://img.freepik.com/fotos-gratis/esfera-azul-brilhante-segurada-por-mao-humana-gerada-por-ia_188544-41033.jpg?w=1380&t=st=1692885975~exp=1692886575~hmac=48b7071253fdede55c8acc3d5d35ff588e5d1d5c835fd7a9971b6be53e40b20f"></card>
            <card class="box3" theme="Design" [price]=0.51 title="Experience the Saharan Sands" imageUrl="https://img.freepik.com/fotos-gratis/cozinha-domestica-de-luxo-com-elegante-design-de-madeira-gerado-por-ia_188544-15357.jpg?w=1380&t=st=1692886004~exp=1692886604~hmac=fbfbf88c0b7f9dfd75156745fbf88214769cfb3c3878f3412547a2fb5c544333"></card>
            <card class="box4" theme="Business" [price]=2.11 title="9 Air-Cleaning Plants Your Home Needs" imageUrl="https://img.freepik.com/fotos-gratis/fly-ar-claro-fantastica-viagem_1232-3824.jpg?w=1380&t=st=1692886152~exp=1692886752~hmac=513015495e0c6f0ee05d555eba88ba0c0525f2d6010e72be8f9b3f191cc952df"></card>
            <card class="box5" theme="Politics" [price]=0.99 title="One Month Sugar Detox" imageUrl="https://img.freepik.com/fotos-gratis/quadro-de-plantas-de-vista-superior_23-2148928488.jpg?w=1060&t=st=1692886033~exp=1692886633~hmac=e9350eb4cba6acb589e3d6447b8222cc2d28a1a20866147cd85208ebeccaed8f"></card>
            <card class="box6" theme="Health" [price]=0.92 title="Shooting Minimal Instagram Photos" imageUrl="https://img.freepik.com/vetores-gratis/molduras-penduradas-em-tamanhos-diferentes_1017-30781.jpg?w=900&t=st=1692886173~exp=1692886773~hmac=dbcdb7bc267894810bcb35a021f4d02faaac2fd039030e1b069d5ee36d5b4164"></card>
        </article>
    
    </main>
</body>

