
body{
    display: flex;
    flex-direction: column;
   flex-grow: 1;
   height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

main > h1 {
    font-size: 10rem;
}

main > p {
    font-size: 2rem;
    color: #b7b7b7;
}